{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=1">

<div class="container-fluid">
    <div class="row align-items-center  second-hero">
        <div class="col-md-6">
            <img src="{% static "core/imgs/heroimg.jpg" %}" alt="Description" class="img-fluid">
        </div>
        <div class="col-md-6 second-hero-img">
            <h1 id="secondHeroTitle">Why TimeZone ?</h1>
            <p>Our luxury watches combine classic style and top-quality craftsmanship, making every moment special.</p>
        </div>
    </div>
</div>
{% endblock content %}