{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=1">


  <div id="videoCarousel" class="carousel slide video-section bg-black py-4" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" autoplay muted loop>
                  <source src="{% static "core/imgs/Cinematic Watch Product Video Commercial Example _ Rolex Timex Omega Samsung Apple Jewelry Amazon Ad.mp4" %}" type="video/mp4">
                </video>
                <div class="video-text">
                    <h2>Discover Timeless Elegance in Our Luxury Watch Collection.</h2>
                </div>
              </div>
        </div>
    </div>
  </div>
  {% endblock content %}